{% extends 'todo_list/base.html' %}
{% load static %}

{% block title %}
    {{task.title}}
{% endblock %}


{% block main_content %}
    <div class="my-4 links">
        <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit Task</a>

        {% if task.is_completed %}
            <button disabled class="btn"><img src="{% static 'todo_list/assets/done-icon.png' %}" width="18px"> Completed</button>
        {% else %}
            <!--Mark as completed form.-->
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                <button type="submit" class="btn btn-success">Mark as completed</button>
            </form>
        {% endif %}

        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger destructive-btn">Delete task</a>
        
    </div>

    <h1>Title: {{task.title}}</h1>
    <br>
    <p>{{task.description}}</p>
    
{% endblock %}